body{
    background-color: azure;
}
header{
    text-align: center;
    border-bottom: 2px black solid;
}
.msg{
    background-color: rgb(125, 234, 234);
    color: #ffffff;
    padding: 12px;
    border-radius: 16px;
}
.chat{
    background-color: rgba(72, 228, 228, 0.388);
    padding: 8px;
    margin: 6px;
    border-radius: 12px;
    display: inline-block
}